<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Lizards - 12', lizard_path(12)  %></li>
      <li><%= link_to 'Lizards - 444', lizard_path(444)  %></li>
      <li><%= link_to 'Lizards - 9672', lizard_path(9672)  %></li>
    </ul>
  </nav>
<header>
